extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Nick Chow


        p.lead.text-light
          | Full Stack Web Developer


        .portfolio-bio
          p
            | Hello,My name is Nick Chow(Shumin Zhou),I'm used to be a warehouse worker, 
            | woking on FBA(Fulfillment By Amazon),right now I'm become a Front-End Web Developer!!! Yeah. I like Coding,and 
            | enjoy coding,I currently graduated treehouse Front-End Web Development TechDegree, and my next step is become a 
            | Full-Stack JavaScript Developer.

            | My goal is become a Full-Stack Developer able to create Web Application and Software Application.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li Npm
          li Node 
          li JavaScript
          li HTML 
          li CSS
          li jQuery 
          li SASS 
          li BootStrop
          li Ajax 
          li SVG 
          li GitHub
        h6 Contact Info

        
        ul
          li 626-676-1458
          li nickchow.frontend2020@gmail.com

        
        a.button.expanded(href='https://www.linkedin.com/in/shumin-nick-zhou-095068126/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/nickchow2020' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/?lang=en' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  